.canvas-pg {
	width: 100vw;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

.canvas-pg #bg-canvas {
	width: 100%;
	height: 100%;
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
}

.canvas-pg #bg-canvas div.canvas-fallback {
	width: 100%;
	height: 100%;
	background: blue;
}

.canvas-pg .scoreboard-container {
	border: 1px solid blue;
}
